nav{
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background-color: #FFFF00;
	color: white;
	padding: 5px 20px;
	z-index: 1000;
	display: flex;
	align-items: center;
}

body{
  	margin-top: 60px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 24px;
	padding: 0;
}

nav li span {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	position: relative;
	padding: 4px 8px;
	transition: color 0.3s;
}

nav li img{
	height: 20px;
	width: 20px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.maindiv{
	display: flex;
	align-items: center;
	justify-content: center;
}

.subdiv{
	text-align: center;
	background-color: #D9D9D9;
	width: 100%;
}

.alldiv{
	border: 1px solid #333;
	padding: 10px;
	margin: 20px;
}

.individualdiv{
	text-align: left;
}