.main{
  text-align: center;
  margin-top: 150px;
  background: rgba(255,255,255,0.7);
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel img {
  width: 300px;
  height: 300px;
}

.carousel-slide {
  flex-shrink: 0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  max-width: 100%;
  background-color: #DCDCDC;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  height: 300px;
  width: 300%;
  display: flex;
  align-items: center;
  border-color: #FFFF00;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.iii{
  position: relative;
  z-index: 1;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.0);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.homebutton{
  width: 200px;
  height: 100px;
  background-color: blue;
  color: white;
  border-width: 0px; 
  border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
}

.confirmation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.confirmation-text {
  font-size: 1.2rem;
  line-height: 1.6;
}
