.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    background-color: #FFFFFF; 
    width: 100%;
}

.product-card {
    width: 150px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.horma{
    color: black;
    text-decoration: none;
}

.product-image {
    font-size: 40px;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-image img{
    width: 50px;
    height: 50px;
}

.heart {
    color: red;
    margin-left: 5px;
}

.product-description {
    font-size: 14px;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 24px;
    color: #FF0000;
}

.favorite-btn.active {
    color: red;
}
