.main{
  text-align: center;
  margin-top: 150px;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel img{
  width: 200px;
  height: 200px;
}

.carousel-slide {
  flex-shrink: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  max-width: 100%;
  background-color: #DCDCDC;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  height: 300px;
  width: 300%;
  display: flex;
  align-items: center;
  border-color: #FFFF00;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.iii{
  width: 100%;
  background: rgba(255,255,255,0.7);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.7);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: #DCDCDC;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
