body {
 font-family: "Hiragino Kaku Gothic ProN", sans-serif;
 background-color: #fff;
 margin: 0;
 padding: 0;
}

main {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
}

.login-box {
 background-color: #f3f3f3;
 border-radius: 4px;
 padding: 100px 250px;
 box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
 text-align: center;
}

h2 {
 margin-bottom: 20px;
}

form {
 display: flex;
 flex-direction: column;
}

label {
 text-align: left;
 margin-top: 10px;
}

input[type="text"],input[type="password"] {
 padding: 8px;
 margin-top: 4px;
 border: 1px solid #cccccc;
 border-radius: 3px;
}

.note {
 color: #a00;
 font-size: 12px;
 margin: 10px 0;
}

button {
 background-color: #f25b5b;
 color: white;
 border: none;
 padding: 10px;
 border-radius: 3px;
 cursor: pointer;
 margin-top: 10px;
}

button:hover {
 background-color: #d44c4c;
}

.register {
 margin-top: 15px;
 font-size: 14px;
}

.register a {
 color: #0078ff;
 text-decoration: none;
}

.register a:hover {
 text-decoration: underline;
}